body{
    background-image: url('../images/hojas.jpg');
    background-color: rgb(78, 78, 78);
    margin: 50px;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

header{
    background-image: url('../images/Paisaje.jpg');
    background-position: 0%;
    background-color: black;
}

nav li:hover{
    background-color: rgb(255, 255, 255);
}

main{
    background-image: url('../images/ecoturismo.jpg'),url('../images/Canopi.jpg');
    background-repeat: no-repeat;
    background-size: 35%, 30%;
    background-position: 80%, 80%, right, right;
    background-position-y: 50%, 90%;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 10px 100px;

}
nav li{
    padding: 0px;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0px;
}
nav a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}
nav a:hover{
    color: rgb(0, 0, 0);
}

nav a {
    display: block;
    padding: 20px;
}

#s1{
    margin-top: 50px;
    background-size: 100px;
    padding: 20px;
    box-shadow: 3px 3px 10px;
}